@import "tailwindcss";

:root {
  --background: #ADD0A3;
  --foreground: #000000;
  --white-text: #D9D9D9;
  --box-bg: #C3D1BE;
  --headers: #384F32;
  --font-sans: var(--font-mandali);
  --font-mono: var(--font-rokkitt);
  --rounded-corners: "50px";
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-white-text: var(--white-text);
  --color-box-bg: var(--box-bg);
  --color-headers: var(--headers);
  --radius-box-corners: var(--rounded-corners);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}

h1 {
  color: var(--headers);
  font-family: var(--font-rokkitt);
  font-size: 72px;
}

h3 {
  font-size: 24px;
}
