@import "tailwindcss";

:root {
  --background: #ADD0A3;
  --foreground: #000000;
  --white-text: #FFFDF2;
  --box-bg: #C3D1BE;
  --headers: #384F32;
  --hover-grey: rgb(169, 173, 180); /*rgb(209, 213, 220);*/
  --font-sans: var(--font-mandali);
  --font-mono: var(--font-rokkitt);
  --rounded-corners: "50px";
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-white-text: var(--white-text);
  --color-box-bg: var(--box-bg);
  --color-headers: var(--headers);
  --color-hover-grey: var(--hover-grey);
  --font-rokkitt: var(--font-mono);
  --radius-box-corners: var(--rounded-corners);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}

h1 {
  color: var(--headers);
  font-family: var(--font-rokkitt), 'Times New Roman', Times, serif;
  font-size: 72px;
  line-height: 95%;
}

h3 {
  font-size: 24px;
}

ul {
  list-style-type: disc;
  margin-left: calc(var(--spacing) * 4);
  margin-top: calc(var(--spacing) * 4)
}
